FLASK_ENV=development
MONGODB_URI=mongodb://admin:Admin%40123@mongos:27017/mowndark?authSource=admin
MONGODB_DB_NAME=mowndark
MONGO_HOST=mongos
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=Admin@123
MONGO_AUTH_DB=admin
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_EMBED_MODEL=nomic-embed-text:latest
SECRET_KEY=mowndark-secret-key-2026
JWT_SECRET_KEY=mowndark-jwt-secret-2026
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
NEXT_SERVER_API_URL=http://127.0.0.1:5000/api
BACKEND_API_URL=http://127.0.0.1:5000/api
